@media screen and (max-width: 1660px) {
    .center{
        width: 90%;
    }
}

@media screen and (max-width: 1440px) {
    .container-header header{
        grid-template-rows: 98px;
    }
    .container-header header .logo img{
        width: 166px;
    }
    .container-header nav{
        border: 3px solid var(--black-12);
        padding: 8px;
        border-radius: 10px;
    }
    .container-header nav ul li{
        padding: 12px 20px;
    }
    .container-header nav ul li a{
        font-size: 14px;
    }
    .container-header .header-right img{
        height: 18px;
    }
    .container-header .head-logo-center{
        margin-bottom: 100px;
    }
    .container-header .head-logo-center img{
        width: 300px;
    }
    .container-header .head-info .head-info-text h3{
        font-size: 48px;
    }
    .container-header .head-info .head-info-text p{
        font-size: 14px;
    }
    .container-header .head-info .head-info-btn{
        padding: 14px 24px;
        width: calc(209px - 48px)
    }
    .container-header .head-info .head-info-btn a{
        font-size: 14px;
    }
    .container-header .head-info .head-info-btn img{
        width: 15px;
    }
    .container-categories{
        margin-top: 150px;
    }
    .container-categories .categories-info .text h3{
        font-size: 28px;
    }
    .container-categories .categories-info .text p{
        font-size: 16px;
    }
    .container-categories .categories-info .slider{
        padding: 12px;
        border-radius: 10px;
        grid-template-columns: 56px 69px 56px;
        column-gap: 12px;
    }
    .container-categories .categories-info .slider .arrow-left,
    .container-categories .categories-info .slider .arrow-right{
        padding: 10px;
        border-radius: 6px;
    }
    .container-categories .categories-info .slider .slide-point .active{
        width: 18px;
    }
    .container-categories .categories-info .slider .slide-point .inactive{
        width: 14px;
    }
    .container-categories .categories-boxes .box{
        padding: 24px;
    }
    .container-categories .categories-boxes .box .box-text p{
        font-size: 16px;
    }
    .container-devices{
        margin-top: 120px;
    }
    .container-devices .devices-info{
        margin-bottom: 60px;
    }
    .container-devices .devices-info h3{
        font-size: 28px;
    }
    .container-devices .devices-info p{
        font-size: 16px;
    }
    .container-devices .devices-boxes{
        gap: 20px;
    }
    .container-devices .devices-boxes .box{
        grid-template-rows: 54px 72px;
        padding: 40px;
    }
    .container-devices .devices-boxes .box h3{
        font-size: 20px;
    }
    .container-devices .devices-boxes .box p{
        font-size: 16px;
    }
    .container-devices .devices-boxes .box .box-img img{
        width: 50%;
    }
    .container-faq{
        margin-top: 120px;
    }
    .container-faq .faq-info{
        margin-bottom: 60px;
    }
    .container-faq .faq-info .faq-info-text h3{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .container-faq .faq-info .faq-info-text p{
        font-size: 16px;
    }
    .container-faq .faq-info .faq-button{
        width: 140px;
        height: 49px;
    }
    .container-faq .faq-info .faq-button a{
        font-size: 14px;
    }
    .container-faq .faq-main{
        column-gap: 40px;
    }
    .container-faq .faq-main .faq-item{
        padding: 24px;
    }
    .container-faq .faq-main .faq-item .faq-item-info h3{
        font-size: 20px;
    }
    .container-faq .faq-main .faq-item .faq-item-info p{
        font-size: 16px;
        margin-top: 14px;
    }
    .container-faq .faq-main .faq-item .counter{
        width: 52px;
        height: 54px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px){
    .container-header .head-info .head-info-text p{
        width: 90%;
    }
    .container-header .head-background{
        height: 500px;
        background-size: cover;
    }
    /* .container-categories .categories-boxes{
        overflow-x: hidden;
    }
    .container-categories .categories-boxes .box{
        min-width: 178px;
        min-height: 200px;
    }
    .container-categories .categories-boxes .box>img{
        min-width: 140px;
        min-height: 140px;
    } */
    .container-devices .devices-boxes .box{
        grid-template-rows: 47px 72px;
        padding: 30px;
    }
}
@media screen and (max-width: 1024px){
    .center{
        width: 95%;
    }
    .container-header header{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:62px ;
        padding-top: 40px;
    }
    .container-header header .logo img{
        width: 116px;
    }
    .container-header .header-right .desktop{
        display: none;
    }
    .container-header .header-right .burger{
        display: block;
    }
    .container-header nav{
        display: none;
    }
    .container-header .head-logo-center{
        margin-top: 48px;
        margin-bottom: 50px;
    }
    .container-header .head-logo-center img{
        width: 200px;
    }
    .container-header .head-info .head-info-btn{
        margin-top: 30px;
    }
    .container-categories{
        margin-top: 100px;
    }
    .container-categories .categories-boxes .box{
        padding: 20px;
    }
    .container-categories .categories-boxes{
        overflow-x: hidden;
        column-gap: 20px;
    }
    .container-categories .categories-boxes .box{
        min-width: 178px;
        min-height: 200px;
    }
    .container-categories .categories-boxes .box>img{
        min-width: 140px;
        min-height: 140px;
    }
    .container-categories .categories-info{
        margin-bottom: 40px;
    }
    .container-categories .categories-info .slider{
        display: none;
    }
    .container-categories .slider-mobile{
        display: block;
    }
    .container-devices .devices-boxes{
        grid-template-columns: 1fr 1fr;
    }
    .container-devices .devices-boxes .box{
        grid-template-rows: 54px 72px;
    }
    .container-devices .devices-boxes .box .box-img img{
        width: 60%;
        height: 60%;
    }
    .container-devices .devices-boxes .box p{
        font-size: 14px;
    }
    .container-devices .devices-boxes .box{
        grid-template-columns: 44px 1fr;
        grid-template-rows: 44px 1fr;
    }
    .container-faq{
        margin-top: 80px;
    }
    .container-faq .faq-info{
        display: block;
        margin-bottom: 40px;
    }
    .container-faq .faq-info .faq-info-text{
        margin-bottom: 20px;
    }
    .container-faq .faq-info .faq-info-text h3{
        font-size: 20px;
    }
    .container-faq .faq-info .faq-info-text p{
        font-size: 14px;
    }
    .container-faq .faq-main{
        grid-template-columns: 1fr;
    }
    .container-faq .faq-main .item-left .faq-item:last-child{
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-image: linear-gradient(to right, rgba(229,0,0,0), rgba(229,0,0,1)25%, rgba(229,0,0,0)) 1;
    }
}

@media screen and (max-width: 600px){
    .container-header .head-info .head-info-text h3{
        font-size: 28px;
    }
    .container-header .head-info .head-info-text p{
        width: 100%;
    }
    .container-header .head-info .head-info-text p .mobile-invisible{
        display: none;
    }
    .container-categories .categories-info .text h3{
        font-size: 24px;
    }
    .container-categories .categories-boxes .box .box-text p{
        font-size: 14px;
    }
    .container-devices{
        margin-top: 51px;
    }
    .container-devices .devices-boxes{
        grid-template-columns: 1fr;
    }
    .container-devices .devices-info{
        margin-bottom: 40px;
    }
    .container-devices .devices-info h3{
        font-size: 20px;
    }
    .container-devices .devices-info p{
        font-size: 14px;
    }
    .container-devices .devices-boxes .box{
        padding: 24px;
    }
    .container-devices .devices-boxes .box h3{
        font-size: 18px;
    }
    .container-faq .faq-main .faq-item{
        padding: 20px 10px;
        column-gap: 16px;
    }
    .container-faq .faq-main .faq-item{
        grid-template-columns: 42px 1fr 30px;
    }
    .container-faq .faq-main .faq-item .counter{
        width: 42px;
        height: 46px;
        font-size: 16px;
    }
    .container-faq .faq-info .faq-info-text h3{
        font-size: 18px;
    }
}