@import "mixins.scss";

.container-trial{
    margin-top: 150px;
    @include onlylarge(1440px){
        margin-top: 120px;
    }

    @include onlylarge(1024px){
        margin-top: 80px;
    }
    
    .trial-main{
    border: 1px solid var(--black-15);
    border-radius: 12px;
    padding: 100px 80px;
    background-image: linear-gradient(to right, rgb(15, 15, 15,1)5%, rgb(15, 15, 15,0.9)30%, rgba(229,0,0,0.5)),
                        url(/home/img/trial-backgroung.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onlylarge(1440px){
        border-radius: 12px;
        padding: 80px 60px;
    }

    @include onlylarge(1024px){
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        padding: 50px 30px;
    }

        .trial-info{

            h3{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 48px;
                line-height: 150%;
                color: var(--absolute-white);
                margin-bottom: 14px;

                @include onlylarge(1440px){
                    font-size: 28px;
                }

                @include onlylarge(1024px){
                    font-size: 24px;
                    text-align: center;
                }
            }
            p{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: var(--grey-60);

                @include onlylarge(1440px){
                    font-size: 16px;
                }

                @include onlylarge(1024px){
                    text-align: center;
                    font-size: 14px;
                }
            }
            @include onlylarge(1024px){
                margin-bottom: 50px;
            }
        }

        .trial-btn{
            border-radius: 8px;
            padding: 18px 24px;
            width: calc(188px - 48px);
            height: calc(63px - 36px);
            background: var(--red-45);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;

            @include onlylarge(1440px){
                border-radius: 8px;
                padding: 14px 20px;
            }

            &:hover {
                background: var(--absolute-white);
            }
            &:hover a{
                color: var(--absolute-black);
            }

            a{
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 18px;
                line-height: 150%;
                color: var(--absolute-white);
                text-decoration: none;
                transition: 0.5s;

                @include onlylarge(1440px){
                    font-size: 14px;
                }
            }
        }
    }
}


.footer{
    margin-top: 150px;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: var(--black-06);

    @include onlylarge(1440px){
    padding-top: 80px;
    padding-bottom: 40px;
    }

    @include onlylarge(900px){
        padding-top: 50px;
        padding-bottom: 20px;
        }

    .footer-main{
        .footer-menu{
            margin-bottom: 100px;
            display: grid;
            grid-template-columns: repeat(6,1fr);
            column-gap: 30px;

            @include onlylarge(1440px){
                margin-bottom: 80px;
            }

            @include onlylarge(900px){
                grid-template-columns: repeat(2,1fr);
                column-gap: 0px;
                row-gap: 30px;
                margin-bottom: 50px;
            }

            .main-row{
                display: grid;
                grid-template-rows: 30px 150px;
                row-gap: 24px;

                @include onlylarge(900px){
                    row-gap: 16px;
                    grid-template-rows: 24px 108px;
                }

                h3{
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 150%;
                    color: var(--absolute-white);

                    @include onlylarge(1440px){
                        font-size: 18px;
                    }
                }
                ul{
                    display: grid;
                    row-gap: 14px;

                    @include onlylarge(900px){
                        row-gap: 8px;
                    }

                    li{
                        a{
                            font-family: var(--font-family);
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 150%;
                            color: var(--grey-60);
                            text-decoration: none;

                            &:hover{
                                color: var(--absolute-white);
                            }

                            
                            @include onlylarge(1440px){
                                font-size: 16px;
                            }
                        }
                    }
                }

                .social{
                    display: grid;
                    grid-template-columns: repeat(3,56px);
                    column-gap: 14px;

                    @include onlylarge(1440px){
                        column-gap: 10px;
                        grid-template-columns: repeat(3,44px);
                    }

                    .social-img{
                        a{
                            img{
                                max-width: 100%;
                            }
                        }
                        border: 1px solid var(--black-15);
                        border-radius: 8px;
                        padding: 16px;
                        width: calc(56px - 32px);
                        height: calc(56px - 32px);
                        background: var(--black-10);

                        @include onlylarge(1440px){
                            border-radius: 6px;
                            padding: 12px;
                            width: calc(44px - 24px);
                            height: calc(44px - 24px);
                        }
                    }
                    .social-img:hover{
                        background: var(--black-06);
                    }
                }
            }
            
        }

        .footer-policy{
            border-top: 1px solid var(--black-15);
            padding-top: 24px;
            display: flex;
            justify-content: space-between;

            @include onlylarge(640px){
                display: block;
            }

            p{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: var(--grey-60);

                
                @include onlylarge(1440px){
                    font-size: 14px;
                }

                @include onlylarge(640px){
                    margin-bottom: 20px;
                }
            }

            .policy-right{
                display: flex;

                a{
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    color: var(--grey-60);
                    text-decoration: none;
                    padding-left: 20px;
                    padding-right: 20px;

                    &:first-of-type{
                        padding-left: 0px;
                    }
                    &:last-of-type{
                        padding-right: 0px;
                    }

                    &:hover{
                        color: var(--absolute-white);
                    }

                    
                    @include onlylarge(1440px){
                        font-size: 14px;
                    }
                }

                .policy-border{
                    border-right: 1px solid var(--black-15);
                    border-left: 1px solid var(--black-15);
                }
            }
        }
    }
}