@import "mixins.scss";

body{
    background: var(--black-08);
}
.wrapper{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.center {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1660px) {
    .center{
        width: 90%;
    }
}
@media screen and (max-width: 1024px){
    .center{
        width: 95%;
    }
}

.container-subscribe{
    margin-top: 100px;

    @include onlylarge(1024px){
        margin-top: 40px;
    }

    .subscribe-info{
        display: flex;
        justify-content: space-between;

        @include onlylarge(1024px){
            display: block;
        }

        .info-text{

            h3{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 38px;
                line-height: 150%;
                color: var(--absolute-white);
                margin-bottom: 14px;

                @include onlylarge(1440px) {
                    font-size: 28px;
                }
                @include onlylarge(1024px){
                    font-size: 24px;
                }
            }

            p{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: var(--grey-60);

                @include onlylarge(1440px){
                    font-size: 16px;
                }

                @include onlylarge(1024px){
                    font-size: 14px;
                }
            }

            @include onlylarge(1024px){
                margin-bottom: 20px;
            }
        }

        .info-buttons{
            border: 1px solid var(--black-15);
            border-radius: 10px;
            padding: 10px;
            width: calc(237px - 20px);
            height: calc(75px - 20px);
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-self: flex-end;

            @include onlylarge(1440px){
                border-radius: 8px;
                padding: 8px;
                width: calc(190px - 16px);
                height: calc(61px - 16px);
            }

            .button{
                border-radius: 100px;
                padding: 14px 24px;
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                color: var(--grey-60);
                cursor: pointer;


                @include onlylarge(1440px){
                    font-size: 14px;
                    border-radius: 6px;
                    padding: 12px 20px;
                }
                
            }
            .button:hover{
                font-family: var(--font-family);
                font-weight: 500;
                line-height: 150%;
                color: var(--absolute-white);
            }
            .active{
                border-radius: 10px;
                background: var(--black-12);
                font-family: var(--font-family);
                font-weight: 500;
                line-height: 150%;
                color: var(--absolute-white);
                transition: 0.5s;
            } 
        }
    }

    .subscribe-main{
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;

        @include onlylarge(1024px){
            grid-template-columns: 1fr;
            row-gap: 20px;
            margin-top: 40px;
        }

        .subscribe-card{
            border: 1px solid var(--black-15);
            border-radius: 12px;
            padding: 50px;
            background: var(--black-10);
            display: grid;
            
            @include onlylarge(1440px){
                border-radius: 10px;
                padding: 40px;
            }

            @include onlylarge(1340px){
                padding: 24px;
            }

            h3{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 24px;
                line-height: 150%;
                color: var(--absolute-white);
                margin-bottom: 16px;

                @include onlylarge(1440px){
                    font-size: 20px;
                }

                @include onlylarge(600px){
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                
            }

            p{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: var(--grey-60);
                margin-bottom: 50px;

                @include onlylarge(1440px){
                    font-size: 16px;
                }

                @include onlylarge(600px){
                    font-size: 14px;
                    margin-bottom: 30px;
                }
            }

            .subscribe-period{
                span{
                    font-family: var(--font-family);
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 73%;
                    color: var(--absolute-white);

                    @include onlylarge(1440px){
                        font-size: 30px;
                    }

                    @include onlylarge(600px){
                        font-size: 24px;
                    }
                }
                p{
                    margin-bottom: 0;
                }
                .disabled{
                    display: none;
                }

                    margin-bottom:50px ;
                    transition: 0.5s;

                    @include onlylarge(600px){
                        margin-bottom:30px ;
                    }
            }

            .card-buttons{
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 20px;

                @include onlylarge(1340px){
                    column-gap: 12px;
                    grid-template-columns: 1fr;
                    row-gap: 12px;
                }

                @include onlylarge(1024px){
                    grid-template-columns: 1fr 1fr;
                }

                .button-left{
                    border: 1px solid var(--black-15);
                    border-radius: 8px;
                    padding: 18px 24px;
                    background: var(--black-08);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;

                    a{
                        font-family: var(--font-family);
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 150%;
                        color: var(--absolute-white);
                        text-decoration: none;
                        transition: 0.5s;

                        @include onlylarge(1660px) {
                            font-size: 14px;
                        }
                    }
                    
                    &:hover{
                        background: var(--grey-75);
                    }
                    &:hover a{
                        color: var(--absolute-black);
                    }

                    @include onlylarge(1660px) {
                        border-radius: 6px;
                        padding: 14px 20px;
                    }
                }
                .button-right{
                    border-radius: 8px;
                    padding: 18px 24px;
                    background: var(--red-45);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;

                    a{
                        font-family: var(--font-family);
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 150%;
                        color: var(--absolute-white);
                        text-decoration: none;
                        transition: 0.5s;

                        @include onlylarge(1660px) {
                            font-size: 14px;
                        }
                    }
                    &:hover{
                        background: var(--absolute-white);
                    }
                    &:hover a{
                        color: var(--absolute-black);
                    }

                    @include onlylarge(1660px) {
                        border-radius: 6px;
                        padding: 14px 20px;
                    }
                }
            }
        }
    }
}

.container-plans{
    margin-top: 150px;
    margin-bottom: 150px;

    @include onlylarge(1440px){
        margin-top: 120px;
        margin-bottom: 120px;
    }
    @include onlylarge(800px){
    margin-top: 80px;
    margin-bottom: 80px;
    }

    .plans-info{
        margin-bottom: 80px;

        @include onlylarge(800px){
            margin-bottom: 40px;
        }

        h3{
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 48px;
            line-height: 150%;
            color: var(--absolute-white);
            margin-bottom: 8px;

            @include onlylarge(800px){
                font-size: 24px;
            }
        }
        p{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: var(--grey-60);

            @include onlylarge(800px){
                font-size: 14px;
            }
        }
    }

    table{
        border-collapse: separate;
        border: 1px solid var(--black-15);
        border-radius: 10px;
        overflow: hidden;

        @include onlylarge(800px){
            display: none;
        }

        tr:first-of-type{
            background: var(--black-06);
            th{
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                color: var(--absolute-white);
                padding: 30px;
                border: 1px solid var(--black-15);
                width: 25%;

                span{
                    border-radius: 2px;
                    padding: 6px 10px;
                    background: var(--red-45);

                    @include onlylarge(1440px){
                        padding: 6px;
                        font-size: 16px;
                    }
                }

                @include onlylarge(1440px){
                    padding: 24px;
                    font-size: 16px;
                }
            }
        }
        tr{
            td{
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                color: var(--grey-60);
                padding: 30px;
                border: 1px solid var(--black-15);

                @include onlylarge(1440px){
                    padding: 24px;
                    font-size: 16px;
                }
            }
        }
    }

    .plans-mobile{
        display: none;

        @include onlylarge(800px){
            display: block;
        }
        .buttons{
            border: 1px solid var(--black-15);
            border-radius: 8px;
            padding: 8px;
            background: var(--black-06);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            margin-bottom: 20px;

            div{
                width: calc(100% - 40px);
                border-radius: 100px;
                padding: 12px 20px;
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                color: var(--grey-60);
                transition: 0.5s;
                text-align: center;

                &:hover{
                    color: var(--absolute-white);
                }
            }
            .active{
                border-radius: 6px;
                background: var(--black-12);
                font-family: var(--font-family);
                font-weight: 500;
                line-height: 150%;
                color: var(--absolute-white);
                transition: 0.5s;
            }
        }

        .plans-mobile-info{
            .show{
                display: grid;
            }
            .hide{
                display: none;
            }
        }
        .plans-mobile-info>div{
            border: 1px solid var(--black-15);
            border-radius: 12px;
            padding: 24px;
            display: grid;
            grid-template-rows: 46px 88px 46px 46px 46px 46px;
            row-gap: 24px;

            &>div{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .display{
                grid-template-columns: 1fr;
            }
            
            h4{
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                color: var(--grey-60);
                margin-bottom: 4px;
            }
            p{
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                color: var(--grey-95);
            }
        }
    }
}